*{
	padding:0;
	margin:0;
}
html{
    scroll-behavior: smooth;
}
#slider-block{
	height:450px;
	width:80%;
	background-color:#5a3726;
	margin:auto;
	margin-top:130px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	box-shadow: 0 8px 20px -5px rgba(45, 20, 0, 0.3);
}
#slider-block p ,h1{
	text-align:center;
	color:white;
	position:relative;
	top:30px;
}
#content-block{
	background-color:#e1bb8a;
	width:80%;
	height:210px;
	margin:auto;
	box-shadow:0px 0 20px -5px rgba(45, 20, 0, 0.3),0px 0 20px -5px rgba(45, 20, 0, 0.3);
}
#content-block p{
	padding:50px;
	width:500px;
	text-align:center;
	margin:auto;
	font-size:18px;
	line-height:1.5;	
	text-shadow: 2px 2px 3px rgba(45, 20, 0, 0.4);
}
h1{
	font-family:sans;
}
h2{
	font-family:sans;
	font-size:23px;
}
body{
	font-family:sans-serif;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:blue;
}
img {
  width: 300px;
  height: 300px;
}
#frame{
	margin-top:30px;
	width:79.8%;
	height:500px;
	margin-left:10%;
}
#logo{
	height:190px;
	width:190px;
	background-image: url(logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	float:left;
	margin-left:10%;
}
#menu{
	height:1700px;
	width:80%;
	margin:auto;
	background-color:#e1bb8a;
	padding-top:50px;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
}
.menu-item {
	float:left;
	margin-left:10%;
	margin-top:30px;
	background-color:#5a3726;
	height:75px;
	width:20%;
	border-radius:10px;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
}
.menu-item p{
	width:200px;
}
.item-info h3 {
	padding-top:20px;
	margin-left:10px;
	color:white;
}
.item-info p {
float:left;
color:darkgray;
margin-left:10px;
font-size:14px;

}
.price {
float:right;
margin-top:-20px;
margin-right:20px;
font-size: 18px;
font-weight: 700;
color: white;
}
.menu-item:hover{
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}
.menu-block{
	width:100%;
	height:525px;
}
#footer{
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	background-color:#5a3726;
	width:80%;
	height:300px;
	margin:auto;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
}
.link{
	text-decoration: none;
}
h2{
	font-family:sans;
	font-size:23px;
	padding-top:20px;
	text-align:center;
	color:white;
}
.text-item{
	margin:auto;
	width:90%;
	height:70px;
	background-color:#5a3726;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
	border-radius:10px;
}
#header{
	margin-top:-50px;
	height:125px;
	width:100%;
	position:fixed;
	background-color:#5a3726;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
	z-index: 10;
}
.nuppleft{
	height:50px;
	width:7.5%;
	background-color:#e1bb8a;
	border-radius:10px;
	float:left;
	margin-left:10%;
	margin-top:35px;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
}
.nuppright{
	height:50px;
	width:7.5%;
	background-color:#e1bb8a;
	border-radius:10px;
	float:left;
	margin-left:9.9%;
	margin-top:35px;
	box-shadow: 0 8px 20px rgba(45, 20, 0, 0.3);
}
.nuppleft:hover{
	background: #d4a76a;
	transform: translateY(-2px);
}
.nuppright:hover{
	background: #d4a76a;
	transform: translateY(-2px);
}
.nupptext{
	text-align:center;
	padding-top:15px;
	color:black;
	font-family:sans-serif;

}
.block1{
	width:20%;
	height:150px;
	float:left;
	margin-top:50px;
	margin-left:10%;
}
.block2{
	text-align:center;
	width:20%;
	height:150px;
	float:left;
	margin-top:50px;
	margin-left:10%;
}
.block3{
	text-align:right;
	width:20%;
	height:150px;
	float:left;
	margin-top:50px;
	margin-left:10%;
}
#footer p{
	color:white;
}
#page{
	background:#f3e2c7;
	width:100%;
	height:2900px;
	padding-top:50px;
}
.copyright-notice{
	float:left;
	width:80%;
	height:50px;
	margin-left:10%;
	margin-top:20px;
}
.slider{
overflow: hidden;
width:95%;
position: relative;
margin: auto;
height: 275px;
margin-top:65px;
border-radius:10px;

}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .slider-item img {
	width: 100%;       /* Картинка занимает всю ширину слайдера */
    object-fit: cover; /* Сохраняет пропорции, не искажая качество */
}
.slider .prev, .slider .next {
cursor: pointer;
position: absolute;
width: auto;
top: 0;
top: 50%;
padding: 18px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}
.slider .next {
right: 0;
border-radius: 3px 0 0 3px;
}

.slider .prev{
} 

/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
position: absolute;
color: #fff;
font-size: 35px;
/* Выравнивание текста по горизонтали и по вертикали*/
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
/* Тень*/
text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

/* Анимация слайдов */
.slider .slider-item {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {
opacity:.4;
}
to {
opacity: 1
}
}
@keyframes fade {
from {
opacity:.4;
}
to {
opacity: 1
}
}